@model DoacoesModel
@{
    ViewData["title"] = " Relações de doação";
}
<h1>Relações de Doação</h1>
<h2>Quantidade de doações por tipo:</h2>
<p class="btn btn-info">Alimentos: @ViewBag.ContAlimentos</p>
<p class="btn btn-danger">Roupa: @ViewBag.ContRoupa</p>
<p class="btn btn-warning">Materiais: @ViewBag.ContMateriais</p>
<p class="btn btn-primary">Outros: @ViewBag.ContOutros</p>
