@model DoacoesModel
@{
    ViewData["title"] = " Relações de doação";
}
<h1>Relações de Doação</h1>

<div style="display: flex; flex-direction: column;  gap:30px;">
    <div style="display: flex; flex-direction: row;  gap:30px;">
        <img src="img/diet.png" style="width: 50px; height: auto;" />
        <p>@Model.contAlimento alimentos doados</p>
    </div style="display: flex; flex-direction: row;  gap:30px">
        <img src="img/tshirt.png" style="width: 50px; height: auto;" />
         <p>@Model.contRoupa roupas doadas</p>
    <div style="display:flex; flex-direction:row;">
        <img src="img/kitchen (1).png" style="width: 50px; height: auto;" />
         <p>@Model.contMateriais materiais doados</p>
    </div>
    <div style="display: flex; flex-direction: row;  gap:30px">1    
        <img src="img/menu.png" style="width: 50px; height: auto;" />
         <p>@Model.contOutros doações de outros tipos</p>
    </div>
   
</div>