@model DoacoesModel
@{
    ViewData["title"] = " Relações de doação";
}
<h1>Relações de Doação</h1>
<h2>Quantidade de doações por tipo:</h2>
<p class ="txt-outline-info">Alimentos: @ViewBag.ContAlimentos</p>
<p>Roupa: @ViewBag.ContRoupa</p>
<p>Materiais: @ViewBag.ContMateriais</p>
<p>Outros: @ViewBag.ContOutros</p>
