@model DoacoesModel
@{
    ViewData["title"] = "Enviar Item";
}
<h1>Enviar Doação Para Destino?</h1>



<form asp-action="Enviar" asp-route-id="@Model.Id" method="post">
    <h5>Nome do Item: @Model.NomeDoItem</h5>
    <h5>Quantidade: @Model.Quantidade</h5>
    <h5>Horário da Doação: @Model.HorarioDoacao</h5>

    <div class="d-flex gap-5 mt-5">
        <input type="submit" value="Confirmar Envio" class="btn btn-success " asp-controller="Estoque" asp-action="Enviar"  />
        <a class="btn btn-primary w-30" asp-controller="Estoque" asp-action="Index">Voltar</a>
    </div>
</form>
