@model DoacoesModel
@{
    ViewData["title"] = "Excluir Item";
}
<div class="mb-5 text-center">
    <h1>tem certeza que deseja excluir ?</h1>
</div>

<form method="post" asp-controller="Estoque" asp-action="Excluir">
    <input type="hidden" asp-for="Id" />
    <div class="row mb-3">

        <label for="Item" class="col-sm-2 col-form-label">Item</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" asp-for="NomeDoItem" id="Item" placeholder="Ex: Cesta Básica">
            <span class="text-danger" asp-validation-for="NomeDoItem"></span>
        </div>
    </div>
    <div class="row mb-3">
        <label for="Quantidade" class="col-sm-2 col-form-label">Quantidade</label>
        <div class="col-sm-10">
            <input type="number" class="form-control" asp-for="Quantidade" id="Quantidade" placeholder="Ex.: 2">
            <span class="text-danger" asp-validation-for="Quantidade"></span>
        </div>
    </div>

    <div class="d-flex gap-5 mt-5">
        <a class="btn btn-danger w-50" asp-controller="Estoque" asp-action="Excluir">Excluir</a>
        <a class="btn btn-primary w-50" asp-controller="Estoque" asp-action="Index">Voltar</a>
    </div>
</form>