@model DoacoesModel
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bem Vindo</h1>
    <p>Site gerenciamento de estoque de ajuda ao irmãos do rio Grande Do Sul</p>
</div>

<h2>Foram feito: 3 doações</h2>