@model IEnumerable<RelacoesModel>

<h1>Relações de Doação</h1>

<div style="display: flex; flex-direction: column;  gap:30px;" >
    <div style="display: flex; flex-direction: row;  gap:30px;">
        <img src="img/diet.png" style="width: 50px; height: auto;" />
        <p>Foram Doadas : Alimentos</p>
    </div>
    <div style="display: flex; flex-direction: row;  gap:30px;">
        <img src="img/tshirt.png" style="width: 50px; height: auto;" />
        <p>Foram Doadas : Roupas</p>
    </div>

    <div style="display: flex; flex-direction: row;  gap:30px;" >
        <img src="img/kitchen (1).png" style="width: 50px; height: auto;" />
        <p>Foram Doadas : Materiais</p>
    </div>

    <div style="display: flex; flex-direction: row;  gap:30px;">
        <img src="img/menu.png" style="width: 50px; height: auto;" />
        <p>Foram Doadas : de outros tipos</p>
    </div>
</div>